server:
  port: 8082

spring:
  application:
    name: diet-ms
  config:
    import: optional:configserver:http://localhost:9021/
  datasource:
    url: jdbc:postgresql://localhost:5434/ProducSnapshot
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
    drive-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:7080/realms/MealTrackingApp
          jwk-set-uri: http://localhost:7080/realms/MealTrackingApp/protocol/openid-connect/certs
  cloud:
    function:
      definition: productCreated; productUpdated; productDeleted
    stream:
      bindings:
        productCreated-in-0:
          destination: product.created
          group: ${spring.application.name}
        productUpdated-in-0:
          destination: product.updated
        productDeleted-in-0:
          destination: product.deleted

rabbit:
  host: localhost
  port: 5672
  username: guest
  password: guest
  connection-timeout: 10s

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

info:
  app:
    name: "Diet MS"
    description: "Microservice for Diets in Meal Tracking Application"
    version: 1.0.0
