server:
  port: 8761

spring:
  application:
    name: Eureka Server
  config:
    import: optional:configserver:http://localhost:9021

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

info:
  app:
    name: "Eureka Server"
    description: "Service discovery agent in Meal Tracking Application"
    version: 1.0.0